In [88]:
import pandas as pd

In [89]:
pwd

'C:\\Users\\Jaya Teja\\News Data'

In [90]:
# doing for amazon stocks

In [91]:
df1=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_02_24_till_1.csv")
df2=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_04_26_till_2.csv")
df3=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_06_21_till_3.csv")
df4=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_08_19_till_4.csv")
df5=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_10_21_till_5.csv")
df6=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2022_12_17_till_6.csv")
df7=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2023_02_08_till_7.csv")
df8=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2023_04_25_till_8.csv")
df9=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2023_06_30_till_9.csv")
df10=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2023_09_07_till_10.csv")
df11=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2023_11_03_till_11.csv")
df12=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2024_01_06_till_12.csv")
df13=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2024_03_03_till_13.csv")
df14=pd.read_csv(r"C:\Users\Jaya Teja\News Data\Amazon 1st jan 2022 News Data\2024_04_29_till_14.csv")

In [98]:
df14

                                                 title         published_utc
0    Nvidia, Meta, Microsoft And Amazon Among Dan N...  2024-03-04T07:05:54Z
1    The Nasdaq Ends February at a Record High. Cou...  2024-03-04T10:01:00Z
2    5 Stock(s) That Artificial Intelligence (AI) C...  2024-03-04T10:10:00Z
3    The Zacks Analyst Blog Highlights Amazon.com, ...  2024-03-04T10:33:00Z
4               Is It Too Late to Buy Snowflake Stock?  2024-03-04T11:05:00Z
..                                                 ...                   ...
804           Wall Street to Start a Very Crucial Week  2024-04-29T14:57:00Z
805  Top Stock Reports for NVIDIA, Alphabet & Amazo...  2024-04-29T17:31:00Z
806  US Stocks Kick Off The Week In The Green, Tesl...  2024-04-29T18:14:53Z
807  Markets Up on Tesla, Q1 Earnings; Q1 Beats Aft...  2024-04-29T22:10:00Z
808  Time to Buy Amazon's Stock as Q1 Earnings Appr...  2024-04-29T23:46:00Z

[809 rows x 2 columns]

In [99]:
dataframes=[df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14]
merged_df=pd.concat(dataframes,ignore_index=True)

In [100]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13799 entries, 0 to 13798
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          13799 non-null  object
 1   published_utc  13799 non-null  object
dtypes: object(2)
memory usage: 215.7+ KB

In [101]:
merged_df['published_utc']

0        2022-01-01T11:06:00Z
1        2022-01-01T11:10:00Z
2        2022-01-01T11:25:00Z
3        2022-01-01T13:15:00Z
4        2022-01-01T15:40:00Z
                 ...
13794    2024-04-29T14:57:00Z
13795    2024-04-29T17:31:00Z
13796    2024-04-29T18:14:53Z
13797    2024-04-29T22:10:00Z
13798    2024-04-29T23:46:00Z
Name: published_utc, Length: 13799, dtype: object

In [102]:
merged_df.to_csv("merged_dataframes.csv",index=False)

In [103]:
merged_df['published_utc']=merged_df['published_utc'].str.split('T').str[0]

In [104]:
merged_df

                                                   title published_utc
0      Investing in This ETF Right Now Could Make You...    2022-01-01
1      Sea Limited Is Down 40% From Its High. Is It a...    2022-01-01
2          Will JD.com Be Worth More Than Tesla by 2032?    2022-01-01
3                   Is It Too Late to Buy Shopify Stock?    2022-01-01
4      Amazon has mostly avoided antitrust scrutiny, ...    2022-01-01
...                                                  ...           ...
13794           Wall Street to Start a Very Crucial Week    2024-04-29
13795  Top Stock Reports for NVIDIA, Alphabet & Amazo...    2024-04-29
13796  US Stocks Kick Off The Week In The Green, Tesl...    2024-04-29
13797  Markets Up on Tesla, Q1 Earnings; Q1 Beats Aft...    2024-04-29
13798  Time to Buy Amazon's Stock as Q1 Earnings Appr...    2024-04-29

[13799 rows x 2 columns]

In [105]:
date_wise_merged_df=merged_df.groupby('published_utc')['title'].agg(lambda x: ' '.join(x)).reset_index()

In [106]:
date_wise_merged_df.to_csv("date_wise_merged_df.csv",index=False)

In [107]:
date_wise_merged_df

    published_utc                                              title
0      2022-01-01  Investing in This ETF Right Now Could Make You...
1      2022-01-02  3 Best Warren Buffett Stocks to Buy for 2022 H...
2      2022-01-03  Updating 2021 Calls While Suggesting Strategic...
3      2022-01-04  The Best Stocks to Invest $1,000 in Right Now ...
4      2022-01-05  The Zacks Analyst Blog Highlights: Apple, Alph...
..            ...                                                ...
845    2024-04-25  If You Invested $10,000 in Amazon 10 Years Ago...
846    2024-04-26  1 Unstoppable Stock That Could Join Microsoft,...
847    2024-04-27  2 Stocks Down 21% and 34% to Buy Right Now Whe...
848    2024-04-28  3 Growth Stocks to Buy and Hold Forever Forget...
849    2024-04-29  Buy The Sell-Off Into The FOMC Meeting, Stay W...

[850 rows x 2 columns]

In [108]:
date_wise_merged_df.to_csv("amazon_final.csv",index=False)

In [ ]:
# in date_wise_merged_df we dont have 2023-12-31,2024-01-28 news

In [109]:
pwd

'C:\\Users\\Jaya Teja\\News Data'