In [1]:
import pandas as pd

In [3]:
df1=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AAPL_final.csv")
df2=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AMZN_final.csv")
df3=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\TSLA_final.csv")

1- Apple  
2- Amazon  
3- Tesla

In [43]:
# The reason for mentioning comapnies with name is for final judging process of the entire portfolio as the dataset will be divided for test

In [35]:
df1['Company']=1

In [36]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [38]:
df2['Company']=2

In [39]:
df2

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000,Updating 2021 Calls While Suggesting Strategic...,1,2
1,1,2022-01-04,170.438004,171.399994,166.349503,167.522003,167.522003,70726000,"The Best Stocks to Invest $1,000 in Right Now ...",0,2
2,2,2022-01-05,166.882996,167.126495,164.356995,164.356995,164.356995,64302000,"The Zacks Analyst Blog Highlights: Apple, Alph...",0,2
3,3,2022-01-06,163.450500,164.800003,161.936996,163.253998,163.253998,51958000,Here's what's worth streaming in January 2022 ...,0,2
4,4,2022-01-07,163.839005,165.243500,162.031006,162.554001,162.554001,46606000,ViacomCBS: A Deal Waiting To Happen The Divide...,0,2
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,176.940002,178.869995,174.559998,177.229996,177.229996,37924900,"SCHD: If You've Won The Game, Take A Little Of...",1,2
578,578,2024-04-23,178.080002,179.929993,175.979996,179.539993,179.539993,37046500,"This Is Hands Down My Pick for the Best ""Magni...",1,2
579,579,2024-04-24,179.940002,180.320007,176.179993,176.589996,176.589996,34185100,History Says the Nasdaq Could Soar: 2 Top Grow...,0,2
580,580,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400,"If You Invested $10,000 in Amazon 10 Years Ago...",0,2
581,581,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800,"1 Unstoppable Stock That Could Join Microsoft,...",1,2

In [41]:
df3['Company']=3

In [42]:
df3

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,LG Energy Solution starts taking orders for wh...,1,3
1,1,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,"Tesla opens showroom in Xinjiang, the Chinese ...",0,3
2,2,2022-01-05,382.216675,390.113342,360.336670,362.706665,362.706665,80119800,Tesla And These 2 Chipmakers Are Seeing The Hi...,0,3
3,3,2022-01-06,359.000000,362.666656,340.166656,354.899994,354.899994,90336600,This Coin Named After Elon Musk's Pet Floki is...,0,3
4,4,2022-01-07,360.123322,360.309998,336.666656,342.320007,342.320007,84164700,Cathie Wood Sells Another $4.9M In Tesla Stock...,0,3
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,140.559998,144.440002,138.800003,142.050003,142.050003,107097600,"It's Time to Ditch These 2 ""Magnificent Seven""...",0,3
578,578,2024-04-23,143.330002,147.259995,141.110001,144.679993,144.679993,124545100,"Cathie Wood's Ark Invest Seizes Tesla Dip, Acq...",1,3
579,579,2024-04-24,162.839996,167.970001,157.509995,162.130005,162.130005,181178000,Tesla (TSLA) Q1 2024 Earnings Call Transcript ...,1,3
580,580,2024-04-25,158.960007,170.880005,158.360001,170.179993,170.179993,126427500,To Lower Or Not? EV Pricing Dilemma Hampers Fo...,1,3
581,581,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,Tesla Investor Touts EV Giant's Billions-Mile ...,0,3

In [44]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  582 non-null    int64
 1   Date        582 non-null    object
 2   Open        582 non-null    float64
 3   High        582 non-null    float64
 4   Low         582 non-null    float64
 5   Close       582 non-null    float64
 6   Adj Close   582 non-null    float64
 7   Volume      582 non-null    int64
 8   title       582 non-null    object
 9   Label       582 non-null    int64
 10  Company     582 non-null    int64
dtypes: float64(5), int64(4), object(2)
memory usage: 50.1+ KB

In [45]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [46]:
df=pd.concat([df1,df2,df3],ignore_index=True)

In [47]:
df.size

19206

In [48]:
#  df.drop('Unnamed: 0',axis=1)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1746 non-null   int64
 1   Date        1746 non-null   object
 2   Open        1746 non-null   float64
 3   High        1746 non-null   float64
 4   Low         1746 non-null   float64
 5   Close       1746 non-null   float64
 6   Adj Close   1746 non-null   float64
 7   Volume      1746 non-null   int64
 8   title       1746 non-null   object
 9   Label       1746 non-null   int64
 10  Company     1746 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 150.2+ KB

In [53]:
df=df.drop('Unnamed: 0',axis=1)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [58]:
df['Company'].value_counts()

Company
1    582
2    582
3    582
Name: count, dtype: int64

In [59]:
df_sorted=df.sort_values(by='Date')

In [62]:
df_sorted.reset_index(drop=True,inplace=True)

In [65]:
df_sorted['Company'].value_counts()

Company
1    582
3    582
2    582
Name: count, dtype: int64

In [67]:
df_sorted.describe()

,Open,High,Low,Close,Adj Close,Volume,Label,Company
count,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1.746000e+03,1746.000000,1746.000000
mean,176.388535,179.325647,173.307461,176.335141,175.947713,8.222086e+07,0.508018,2.000000
std,56.488275,57.970267,54.693305,56.227667,56.327727,3.774146e+07,0.500079,0.816731
min,82.800003,83.480003,81.430000,81.820000,81.820000,2.237840e+07,0.000000,1.000000
25%,140.062504,142.084999,137.667503,139.432503,138.891369,5.428198e+07,0.000000,1.000000
50%,168.699997,170.544998,166.310005,168.430001,167.568230,7.266135e+07,1.000000,2.000000
75%,194.015003,196.375004,191.752495,193.862503,193.449539,1.007433e+08,1.000000,3.000000
max,396.516663,402.666656,378.679993,399.926666,399.926666,3.065906e+08,1.000000,3.000000

In [68]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [70]:
import numpy as np

In [78]:
df_sorted['Volume']=df_sorted['Volume'].astype(np.float64)
df_sorted['Label']=df_sorted['Label'].astype(np.float64)
df_sorted['Company']=df_sorted['Company'].astype(np.float64)

In [79]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   float64
 7   title      1746 non-null   object
 8   Label      1746 non-null   float64
 9   Company    1746 non-null   float64
dtypes: float64(8), object(2)
memory usage: 136.5+ KB

1746