In [3]:
import pandas as pd

In [4]:
df1=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AAPL_final.csv")
df2=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AMZN_final.csv")
df3=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\TSLA_final.csv")

1- Apple  
2- Amazon  
3- Tesla

In [5]:
# The reason for mentioning comapnies with name is for final judging process of the entire portfolio as the dataset will be divided for test

In [6]:
df1['Company']=1

In [7]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [8]:
df2['Company']=2

In [9]:
df2

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000,Updating 2021 Calls While Suggesting Strategic...,1,2
1,1,2022-01-04,170.438004,171.399994,166.349503,167.522003,167.522003,70726000,"The Best Stocks to Invest $1,000 in Right Now ...",0,2
2,2,2022-01-05,166.882996,167.126495,164.356995,164.356995,164.356995,64302000,"The Zacks Analyst Blog Highlights: Apple, Alph...",0,2
3,3,2022-01-06,163.450500,164.800003,161.936996,163.253998,163.253998,51958000,Here's what's worth streaming in January 2022 ...,0,2
4,4,2022-01-07,163.839005,165.243500,162.031006,162.554001,162.554001,46606000,ViacomCBS: A Deal Waiting To Happen The Divide...,0,2
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,176.940002,178.869995,174.559998,177.229996,177.229996,37924900,"SCHD: If You've Won The Game, Take A Little Of...",1,2
578,578,2024-04-23,178.080002,179.929993,175.979996,179.539993,179.539993,37046500,"This Is Hands Down My Pick for the Best ""Magni...",1,2
579,579,2024-04-24,179.940002,180.320007,176.179993,176.589996,176.589996,34185100,History Says the Nasdaq Could Soar: 2 Top Grow...,0,2
580,580,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400,"If You Invested $10,000 in Amazon 10 Years Ago...",0,2
581,581,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800,"1 Unstoppable Stock That Could Join Microsoft,...",1,2

In [10]:
df3['Company']=3

In [11]:
df3

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,LG Energy Solution starts taking orders for wh...,1,3
1,1,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,"Tesla opens showroom in Xinjiang, the Chinese ...",0,3
2,2,2022-01-05,382.216675,390.113342,360.336670,362.706665,362.706665,80119800,Tesla And These 2 Chipmakers Are Seeing The Hi...,0,3
3,3,2022-01-06,359.000000,362.666656,340.166656,354.899994,354.899994,90336600,This Coin Named After Elon Musk's Pet Floki is...,0,3
4,4,2022-01-07,360.123322,360.309998,336.666656,342.320007,342.320007,84164700,Cathie Wood Sells Another $4.9M In Tesla Stock...,0,3
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,140.559998,144.440002,138.800003,142.050003,142.050003,107097600,"It's Time to Ditch These 2 ""Magnificent Seven""...",0,3
578,578,2024-04-23,143.330002,147.259995,141.110001,144.679993,144.679993,124545100,"Cathie Wood's Ark Invest Seizes Tesla Dip, Acq...",1,3
579,579,2024-04-24,162.839996,167.970001,157.509995,162.130005,162.130005,181178000,Tesla (TSLA) Q1 2024 Earnings Call Transcript ...,1,3
580,580,2024-04-25,158.960007,170.880005,158.360001,170.179993,170.179993,126427500,To Lower Or Not? EV Pricing Dilemma Hampers Fo...,1,3
581,581,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,Tesla Investor Touts EV Giant's Billions-Mile ...,0,3

In [12]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  582 non-null    int64
 1   Date        582 non-null    object
 2   Open        582 non-null    float64
 3   High        582 non-null    float64
 4   Low         582 non-null    float64
 5   Close       582 non-null    float64
 6   Adj Close   582 non-null    float64
 7   Volume      582 non-null    int64
 8   title       582 non-null    object
 9   Label       582 non-null    int64
 10  Company     582 non-null    int64
dtypes: float64(5), int64(4), object(2)
memory usage: 50.1+ KB

In [13]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [14]:
df=pd.concat([df1,df2,df3],ignore_index=True)

In [15]:
df.size

19206

In [16]:
#  df.drop('Unnamed: 0',axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1746 non-null   int64
 1   Date        1746 non-null   object
 2   Open        1746 non-null   float64
 3   High        1746 non-null   float64
 4   Low         1746 non-null   float64
 5   Close       1746 non-null   float64
 6   Adj Close   1746 non-null   float64
 7   Volume      1746 non-null   int64
 8   title       1746 non-null   object
 9   Label       1746 non-null   int64
 10  Company     1746 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 150.2+ KB

In [18]:
df=df.drop('Unnamed: 0',axis=1)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [20]:
df['Company'].value_counts()

Company
1    582
2    582
3    582
Name: count, dtype: int64

In [21]:
df_sorted=df.sort_values(by='Date')

In [22]:
df_sorted.reset_index(drop=True,inplace=True)

In [23]:
df_sorted['Company'].value_counts()

Company
1    582
3    582
2    582
Name: count, dtype: int64

In [24]:
df_sorted

,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,LG Energy Solution starts taking orders for wh...,1,3
2,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000,Updating 2021 Calls While Suggesting Strategic...,1,2
3,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
4,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,"Tesla opens showroom in Xinjiang, the Chinese ...",0,3
...,...,...,...,...,...,...,...,...,...,...
1741,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
1742,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400,"If You Invested $10,000 in Amazon 10 Years Ago...",0,2
1743,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800,"1 Unstoppable Stock That Could Join Microsoft,...",1,2
1744,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1
1745,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,Tesla Investor Touts EV Giant's Billions-Mile ...,0,3

In [25]:
df_sorted.describe()

,Open,High,Low,Close,Adj Close,Volume,Label,Company
count,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1.746000e+03,1746.000000,1746.000000
mean,176.388535,179.325647,173.307461,176.335141,175.947713,8.222086e+07,0.508018,2.000000
std,56.488275,57.970267,54.693305,56.227667,56.327727,3.774146e+07,0.500079,0.816731
min,82.800003,83.480003,81.430000,81.820000,81.820000,2.237840e+07,0.000000,1.000000
25%,140.062504,142.084999,137.667503,139.432503,138.891369,5.428198e+07,0.000000,1.000000
50%,168.699997,170.544998,166.310005,168.430001,167.568230,7.266135e+07,1.000000,2.000000
75%,194.015003,196.375004,191.752495,193.862503,193.449539,1.007433e+08,1.000000,3.000000
max,396.516663,402.666656,378.679993,399.926666,399.926666,3.065906e+08,1.000000,3.000000

In [26]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [27]:
import numpy as np

In [28]:
df_sorted['Volume']=df_sorted['Volume'].astype(np.float64)
df_sorted['Label']=df_sorted['Label'].astype(np.float64)
df_sorted['Company']=df_sorted['Company'].astype(np.float64)

In [36]:
df_sorted['title'][0]

"What A 'Strong' Apple 2022 Product Line Up Could Look Like, Featuring A Possible 'Holy Grail' Release Apple: Quality Name To Own; AR/VR To Drive Growth Robust iPhone Demand, Services Will Chart Apple's Course In 2022: Wedbush 'Son, get a lawyer. That woman is going to take away your inheritance!â\x80\x99 The most popular Moneyist columns of 2021 Tesla Q4 Deliveries, Santa Rally Eludes Bitcoin, Apple In 2022, Spider-Man At Box Office, Singapore GDP Rebound: 5 Headlines You May Have Missed From The Weekend Have $2,000? These 2 Stocks Could Be Bargain Buys for 2022 and Beyond Should WisdomTree U.S. LargeCap Dividend ETF (DLN) Be on Your Investing Radar? Should Vanguard Russell 1000 Growth ETF (VONG) Be on Your Investing Radar? 3 Surefire Metaverse Stocks That Could Make You Richer in 2022 Stock picking in 2022? Goldman Sachs says these are the companies that should be on your radar. 3 Dividend Kings That Should Help You Pull Through Inflation in 2022 Implied Volatility Surging for Apple (AAPL) Stock Options This Day In Market History: Jobs And Wozniak Incorporate Apple Computer Corp Want a 90% to 236% Return? Try These Growth Stocks, Says Wall Street These stocks are down at least 20% from 2021 highs, but Wall Street sees them gaining as much as 87% in 2022 These are tech's 10 megatrends for 2022 -- and the stocks to buy Here's the best way to spot stock-market winners, according to this 25-year tech analyst Is Microsoft Stock Set Up For Another Year Of Explosive Growth? This surprising investing strategy crushes the stock market without examining a single financial metric Is Apple (AAPL) Stock Outpacing Its Computer and Technology Peers This Year? My 3 Favorite ETFs to Own in 2022 Apple's (AAPL) In-App Purchase Policy to be Probed by CCI Here's Why Momentum Investors Will Love Apple (AAPL) Apple being investigated by India antitrust regulators over app-store practices Selling money-making stocks in a bull market is a tough call, but you'll thank yourself when the bears take charge Apple Becomes First Company To Top $3 Trillion Market Cap; Analyst Says Rally Has Further Legs Apple comes up short of $3 trillion market cap Dow, S&P 500 sweep to record closes in 2022's first session, while Nasdaq has biggest gain in a week Apple hits $3.0 trillion market cap: â\x80\x98it could be a $250 stockâ\x80\x99 Why Apple Stock Climbed to a New All-Time High Today"

In [37]:
df_sorted['title'][452]

"2 Companies That Could Be the Next Stock-Split Stocks After Amazon, Shopify, and Tesla 4 Stocks I Wouldn't Buy With Free Money Tesla Sales Of China-Made EVs Plunge 64% Sequentially In July â\x80\x94 Domestic Sales Trail Local Players Proceed With Caution When Considering This Ultra Popular EV Stock Indian Billionaire Outperforming Elon Musk, Jeff Bezos This Year Takes Zero Salary Home Bed Bath & Beyond leads rally in 'meme' stocks as Reddit group appears to be jumping back on board Elon Musk On Why First Moon Landing Was An 'Anomaly' Baillie Gifford Nearly Cuts Alibaba Position, Sells Tesla Shares â\x80\x94 But Buys More Of This Chinese EV Maker These 18 tech stocks are this earnings season's standouts based on three criteria The red flag that preceded a halving of global equities in 2000 and 2007 is back, warns Citi American Axle (AXL) Q2 Earnings & Revenues Beat Estimates Westport (WPRT) Q2 Loss Narrower Than Expected, Revenues Up Tesla Stock Jumped 80% During The 2020 Share Split. What May Happen This Time, According To One Analyst Why Verona Pharma Is Trading Higher By Around 84%, Here Are 85 Stocks Moving In Tuesday's Mid-Day Session 'Clean energy' hiring in solar, wind and EVs expands in red and blue states. Enter your ZIP code to see where the jobs are. Move Over Tesla? This Electric Vehicle Company Thinks It Can Do Robotaxis Better Why Tesla, Nio, and Lucid All Sank Today"

In [38]:
df_sorted['Label'].value_counts()

Label
1.0    887
0.0    859
Name: count, dtype: int64

In [39]:
import re 
import string

In [40]:
def cleaning_text(text):
    text=text.lower() # converts text to lower case 
    text=re.sub('\[.*?\]', '', text) # deletes text which is present in between square brackets
    text = re.sub(r'[^\x00-\x7F]+', ' ', text) # only keeps the text between the ascii values 
    text = re.sub(r'\([^)]*\)', '', text) # deletes the text containing () these brackets
    text = re.sub(r'[^A-Za-z0-9\s]', '', text) # removes text which is not alphanumeric or whitespace
    text = text.translate(str.maketrans('', '', string.punctuation)) # removes punctuation to only focus on the text
    text = text.strip()
    text = re.sub(r'\s+', ' ', text) # removes whitespace in the text
    return text

In [45]:
# Checking the difference in text
df_sorted['title'][256]

"Bill Gates says Elon Musk's approach to misinformation could make Twitter worse 'Massive Misallocation' Of Capital: Cathie Wood Joins Elon Musk To Find Fault With Passive Investment Bill Gates Says Shorting Tesla Not A Statement About Climate Change Why Nio, Other EV Peers Are Shooting Up In Hong Kong Today Bill Gates Takes Swipe At Elon Musk Over Twitter Acquisition: 'He Actually Could Make It Worse' Tesla Battery Supplier CATL's Stock Tumbles As Profit Falls 24% On High Raw Material Costs Can Apple Be The New Tesla - Smartphone On Wheels By 2025? Yuga Labs Refunds Failed Transactions After $150M Ethereum 'Wasted Fees' From NFT Sale How to Buy Tesla for the Cost of a Penny Stock Elon Musk's Starlink Now Lets You Take Your Internet Connection Anywhere Within US â\x80\x94 But It Comes At A Cost Russian Rocket Body Shatters Into 16 Pieces In Space Ford Mach-E EV Sales Nearly Double In April, Gas-Powered Mustang Struggles Twitter Faces Advertiser Skepticism At New York Event Ahead Of Elon Musk Takeover Twitter Offshoot Bluesky Releases Early Code For Decentralized Social Network Is It Time to Buy the Nasdaq's 3 Worst Performing April Stocks? Elon Musk suggested getting into the lithium business, and these surging stocks show why Elon Musk Bags Over $7B In Twitter Deal Financing Elon Musk says Larry Ellison, Binance, Sequoia will now help fund Twitter bid 'This Is What's Going To Happen Next': Ross Gerber Reveals Tesla's Next Big Move Should Tesla Shareholders Be Worried About Elon Musk's Twitter Purchase? Rivian Stock Is Starting to Look Attractive This trader predicted the bond meltdown, tech selloff and oil's surge. Here's what she says is coming next. CNH Industrial (CNHI) Q1 Earnings Top Estimates, Down Y/Y Why Tesla Stock Crashed Today The Timing of Tesla's Stock Split Could Be in Jeopardy Why Twitter Shares Rose 27% (but not 40%) Last Month Money Talks? The Link Between Congressional Stock Trading And Corporate Lobbying Rate hikes and stock sell-off? Here's what it means for your retirement portfolio, and whether you should add crypto into it Dow ends nearly 1,100 points lower and Nasdaq sheds 5%, marking its worst day in two years Another Elon Musk Biography Coming: Here's Which Company Is Behind It"

In [46]:
check=cleaning_text(df_sorted['title'][256])
check

'bill gates says elon musks approach to misinformation could make twitter worse massive misallocation of capital cathie wood joins elon musk to find fault with passive investment bill gates says shorting tesla not a statement about climate change why nio other ev peers are shooting up in hong kong today bill gates takes swipe at elon musk over twitter acquisition he actually could make it worse tesla battery supplier catls stock tumbles as profit falls 24 on high raw material costs can apple be the new tesla smartphone on wheels by 2025 yuga labs refunds failed transactions after 150m ethereum wasted fees from nft sale how to buy tesla for the cost of a penny stock elon musks starlink now lets you take your internet connection anywhere within us but it comes at a cost russian rocket body shatters into 16 pieces in space ford mache ev sales nearly double in april gaspowered mustang struggles twitter faces advertiser skepticism at new york event ahead of elon musk takeover twitter offshoot bluesky releases early code for decentralized social network is it time to buy the nasdaqs 3 worst performing april stocks elon musk suggested getting into the lithium business and these surging stocks show why elon musk bags over 7b in twitter deal financing elon musk says larry ellison binance sequoia will now help fund twitter bid this is whats going to happen next ross gerber reveals teslas next big move should tesla shareholders be worried about elon musks twitter purchase rivian stock is starting to look attractive this trader predicted the bond meltdown tech selloff and oils surge heres what she says is coming next cnh industrial q1 earnings top estimates down yy why tesla stock crashed today the timing of teslas stock split could be in jeopardy why twitter shares rose 27 last month money talks the link between congressional stock trading and corporate lobbying rate hikes and stock selloff heres what it means for your retirement portfolio and whether you should add crypto into it dow ends nearly 1100 points lower and nasdaq sheds 5 marking its worst day in two years another elon musk biography coming heres which company is behind it'

In [47]:
# apply the cleaning_text function to the title column of the df_sorted dataframe

In [48]:
df_sorted['clean_title']=df_sorted['title'].apply(lambda x : cleaning_text(x))

In [50]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1746 non-null   object
 1   Open         1746 non-null   float64
 2   High         1746 non-null   float64
 3   Low          1746 non-null   float64
 4   Close        1746 non-null   float64
 5   Adj Close    1746 non-null   float64
 6   Volume       1746 non-null   float64
 7   title        1746 non-null   object
 8   Label        1746 non-null   float64
 9   Company      1746 non-null   float64
 10  clean_title  1746 non-null   object
dtypes: float64(8), object(3)
memory usage: 150.2+ KB

In [55]:
df_sorted[['title','clean_title']].iloc[0,:]

title          What A 'Strong' Apple 2022 Product Line Up Cou...
clean_title    what a strong apple 2022 product line up could...
Name: 0, dtype: object

In [57]:
df4=df_sorted.drop('title',axis=1)

In [59]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1746 non-null   object
 1   Open         1746 non-null   float64
 2   High         1746 non-null   float64
 3   Low          1746 non-null   float64
 4   Close        1746 non-null   float64
 5   Adj Close    1746 non-null   float64
 6   Volume       1746 non-null   float64
 7   Label        1746 non-null   float64
 8   Company      1746 non-null   float64
 9   clean_title  1746 non-null   object
dtypes: float64(8), object(2)
memory usage: 136.5+ KB

In [60]:
df4['clean_title']

0       what a strong apple 2022 product line up could...
1       lg energy solution starts taking orders for wh...
2       updating 2021 calls while suggesting strategic...
3       is 3 trillion just the beginning for apple app...
4       tesla opens showroom in xinjiang the chinese r...
                              ...
1741    this spectacular vanguard etf could turn 250 p...
1742    if you invested 10000 in amazon 10 years ago t...
1743    1 unstoppable stock that could join microsoft ...
1744    1 unstoppable stock that could join microsoft ...
1745    tesla investor touts ev giants billionsmile le...
Name: clean_title, Length: 1746, dtype: object