In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AAPL_final.csv")
df2=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\AMZN_final.csv")
df3=pd.read_csv(r"C:\Users\Jaya Teja\Finance_Project\Final datasets\TSLA_final.csv")

1- Apple  
2- Amazon  
3- Tesla

In [3]:
# The reason for mentioning comapnies with name is for final judging process of the entire portfolio as the dataset will be divided for test

In [4]:
df1['Company']=1

In [5]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [6]:
df2['Company']=2

In [7]:
df2

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000,Updating 2021 Calls While Suggesting Strategic...,1,2
1,1,2022-01-04,170.438004,171.399994,166.349503,167.522003,167.522003,70726000,"The Best Stocks to Invest $1,000 in Right Now ...",0,2
2,2,2022-01-05,166.882996,167.126495,164.356995,164.356995,164.356995,64302000,"The Zacks Analyst Blog Highlights: Apple, Alph...",0,2
3,3,2022-01-06,163.450500,164.800003,161.936996,163.253998,163.253998,51958000,Here's what's worth streaming in January 2022 ...,0,2
4,4,2022-01-07,163.839005,165.243500,162.031006,162.554001,162.554001,46606000,ViacomCBS: A Deal Waiting To Happen The Divide...,0,2
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,176.940002,178.869995,174.559998,177.229996,177.229996,37924900,"SCHD: If You've Won The Game, Take A Little Of...",1,2
578,578,2024-04-23,178.080002,179.929993,175.979996,179.539993,179.539993,37046500,"This Is Hands Down My Pick for the Best ""Magni...",1,2
579,579,2024-04-24,179.940002,180.320007,176.179993,176.589996,176.589996,34185100,History Says the Nasdaq Could Soar: 2 Top Grow...,0,2
580,580,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400,"If You Invested $10,000 in Amazon 10 Years Ago...",0,2
581,581,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800,"1 Unstoppable Stock That Could Join Microsoft,...",1,2

In [8]:
df3['Company']=3

In [9]:
df3

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,LG Energy Solution starts taking orders for wh...,1,3
1,1,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,"Tesla opens showroom in Xinjiang, the Chinese ...",0,3
2,2,2022-01-05,382.216675,390.113342,360.336670,362.706665,362.706665,80119800,Tesla And These 2 Chipmakers Are Seeing The Hi...,0,3
3,3,2022-01-06,359.000000,362.666656,340.166656,354.899994,354.899994,90336600,This Coin Named After Elon Musk's Pet Floki is...,0,3
4,4,2022-01-07,360.123322,360.309998,336.666656,342.320007,342.320007,84164700,Cathie Wood Sells Another $4.9M In Tesla Stock...,0,3
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,140.559998,144.440002,138.800003,142.050003,142.050003,107097600,"It's Time to Ditch These 2 ""Magnificent Seven""...",0,3
578,578,2024-04-23,143.330002,147.259995,141.110001,144.679993,144.679993,124545100,"Cathie Wood's Ark Invest Seizes Tesla Dip, Acq...",1,3
579,579,2024-04-24,162.839996,167.970001,157.509995,162.130005,162.130005,181178000,Tesla (TSLA) Q1 2024 Earnings Call Transcript ...,1,3
580,580,2024-04-25,158.960007,170.880005,158.360001,170.179993,170.179993,126427500,To Lower Or Not? EV Pricing Dilemma Hampers Fo...,1,3
581,581,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,Tesla Investor Touts EV Giant's Billions-Mile ...,0,3

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  582 non-null    int64
 1   Date        582 non-null    object
 2   Open        582 non-null    float64
 3   High        582 non-null    float64
 4   Low         582 non-null    float64
 5   Close       582 non-null    float64
 6   Adj Close   582 non-null    float64
 7   Volume      582 non-null    int64
 8   title       582 non-null    object
 9   Label       582 non-null    int64
 10  Company     582 non-null    int64
dtypes: float64(5), int64(4), object(2)
memory usage: 50.1+ KB

In [11]:
df1

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,1,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
2,2,2022-01-05,179.610001,180.169998,174.639999,174.919998,172.489639,94537600,Dow industrials knocking on door of milestone ...,0,1
3,3,2022-01-06,172.699997,175.300003,171.639999,172.000000,169.610214,96904000,Here's what's worth streaming in January 2022 ...,0,1
4,4,2022-01-07,172.889999,174.139999,171.029999,172.169998,169.777847,86709100,Samsung Electronics expects 52% jump in Q4 ope...,1,1
...,...,...,...,...,...,...,...,...,...,...,...
577,577,2024-04-22,165.520004,167.259995,164.770004,165.839996,165.615356,48116400,"SCHD: If You've Won The Game, Take A Little Of...",1,1
578,578,2024-04-23,165.350006,167.050003,164.919998,166.899994,166.673920,49537800,Unfortunate News for Meta Stock and Apple Stoc...,1,1
579,579,2024-04-24,166.539993,169.300003,166.210007,169.020004,168.791061,48251800,Could AMD Stock Help You Become a Millionaire?...,1,1
580,580,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
581,581,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1

In [12]:
df=pd.concat([df1,df2,df3],ignore_index=True)

In [13]:
df.size

19206

In [14]:
#  df.drop('Unnamed: 0',axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1746 non-null   int64
 1   Date        1746 non-null   object
 2   Open        1746 non-null   float64
 3   High        1746 non-null   float64
 4   Low         1746 non-null   float64
 5   Close       1746 non-null   float64
 6   Adj Close   1746 non-null   float64
 7   Volume      1746 non-null   int64
 8   title       1746 non-null   object
 9   Label       1746 non-null   int64
 10  Company     1746 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 150.2+ KB

In [16]:
df=df.drop('Unnamed: 0',axis=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [18]:
df['Company'].value_counts()

1    582
2    582
3    582
Name: Company, dtype: int64

In [19]:
df_sorted=df.sort_values(by='Date')

In [20]:
df_sorted.reset_index(drop=True,inplace=True)

In [21]:
df_sorted['Company'].value_counts()

1    582
3    582
2    582
Name: Company, dtype: int64

In [22]:
df_sorted

,Date,Open,High,Low,Close,Adj Close,Volume,title,Label,Company
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900,What A 'Strong' Apple 2022 Product Line Up Cou...,1,1
1,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400,LG Energy Solution starts taking orders for wh...,1,3
2,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000,Updating 2021 Calls While Suggesting Strategic...,1,2
3,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400,Is $3 Trillion Just the Beginning for Apple? A...,0,1
4,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300,"Tesla opens showroom in Xinjiang, the Chinese ...",0,3
...,...,...,...,...,...,...,...,...,...,...
1741,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300,This Spectacular Vanguard ETF Could Turn $250 ...,1,1
1742,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400,"If You Invested $10,000 in Amazon 10 Years Ago...",0,2
1743,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800,"1 Unstoppable Stock That Could Join Microsoft,...",1,2
1744,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400,"1 Unstoppable Stock That Could Join Microsoft,...",0,1
1745,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700,Tesla Investor Touts EV Giant's Billions-Mile ...,0,3

In [23]:
df_sorted.describe()

,Open,High,Low,Close,Adj Close,Volume,Label,Company
count,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1.746000e+03,1746.000000,1746.000000
mean,176.388535,179.325647,173.307461,176.335141,175.947713,8.222086e+07,0.508018,2.000000
std,56.488275,57.970267,54.693305,56.227667,56.327727,3.774146e+07,0.500079,0.816731
min,82.800003,83.480003,81.430000,81.820000,81.820000,2.237840e+07,0.000000,1.000000
25%,140.062504,142.084999,137.667503,139.432503,138.891369,5.428198e+07,0.000000,1.000000
50%,168.699997,170.544998,166.310005,168.430001,167.568230,7.266135e+07,1.000000,2.000000
75%,194.015003,196.375004,191.752495,193.862503,193.449539,1.007433e+08,1.000000,3.000000
max,396.516663,402.666656,378.679993,399.926666,399.926666,3.065906e+08,1.000000,3.000000

In [24]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1746 non-null   object
 1   Open       1746 non-null   float64
 2   High       1746 non-null   float64
 3   Low        1746 non-null   float64
 4   Close      1746 non-null   float64
 5   Adj Close  1746 non-null   float64
 6   Volume     1746 non-null   int64
 7   title      1746 non-null   object
 8   Label      1746 non-null   int64
 9   Company    1746 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 136.5+ KB

In [25]:
import numpy as np

In [26]:
df_sorted['Volume']=df_sorted['Volume'].astype(np.float64)
df_sorted['Label']=df_sorted['Label'].astype(np.float64)
df_sorted['Company']=df_sorted['Company'].astype(np.float64)

In [27]:
df_sorted['title'][0]

"What A 'Strong' Apple 2022 Product Line Up Could Look Like, Featuring A Possible 'Holy Grail' Release Apple: Quality Name To Own; AR/VR To Drive Growth Robust iPhone Demand, Services Will Chart Apple's Course In 2022: Wedbush 'Son, get a lawyer. That woman is going to take away your inheritance!â\x80\x99 The most popular Moneyist columns of 2021 Tesla Q4 Deliveries, Santa Rally Eludes Bitcoin, Apple In 2022, Spider-Man At Box Office, Singapore GDP Rebound: 5 Headlines You May Have Missed From The Weekend Have $2,000? These 2 Stocks Could Be Bargain Buys for 2022 and Beyond Should WisdomTree U.S. LargeCap Dividend ETF (DLN) Be on Your Investing Radar? Should Vanguard Russell 1000 Growth ETF (VONG) Be on Your Investing Radar? 3 Surefire Metaverse Stocks That Could Make You Richer in 2022 Stock picking in 2022? Goldman Sachs says these are the companies that should be on your radar. 3 Dividend Kings That Should Help You Pull Through Inflation in 2022 Implied Volatility Surging for Apple (AAPL) Stock Options This Day In Market History: Jobs And Wozniak Incorporate Apple Computer Corp Want a 90% to 236% Return? Try These Growth Stocks, Says Wall Street These stocks are down at least 20% from 2021 highs, but Wall Street sees them gaining as much as 87% in 2022 These are tech's 10 megatrends for 2022 -- and the stocks to buy Here's the best way to spot stock-market winners, according to this 25-year tech analyst Is Microsoft Stock Set Up For Another Year Of Explosive Growth? This surprising investing strategy crushes the stock market without examining a single financial metric Is Apple (AAPL) Stock Outpacing Its Computer and Technology Peers This Year? My 3 Favorite ETFs to Own in 2022 Apple's (AAPL) In-App Purchase Policy to be Probed by CCI Here's Why Momentum Investors Will Love Apple (AAPL) Apple being investigated by India antitrust regulators over app-store practices Selling money-making stocks in a bull market is a tough call, but you'll thank yourself when the bears take charge Apple Becomes First Company To Top $3 Trillion Market Cap; Analyst Says Rally Has Further Legs Apple comes up short of $3 trillion market cap Dow, S&P 500 sweep to record closes in 2022's first session, while Nasdaq has biggest gain in a week Apple hits $3.0 trillion market cap: â\x80\x98it could be a $250 stockâ\x80\x99 Why Apple Stock Climbed to a New All-Time High Today"

In [28]:
df_sorted['title'][452]

"2 Companies That Could Be the Next Stock-Split Stocks After Amazon, Shopify, and Tesla 4 Stocks I Wouldn't Buy With Free Money Tesla Sales Of China-Made EVs Plunge 64% Sequentially In July â\x80\x94 Domestic Sales Trail Local Players Proceed With Caution When Considering This Ultra Popular EV Stock Indian Billionaire Outperforming Elon Musk, Jeff Bezos This Year Takes Zero Salary Home Bed Bath & Beyond leads rally in 'meme' stocks as Reddit group appears to be jumping back on board Elon Musk On Why First Moon Landing Was An 'Anomaly' Baillie Gifford Nearly Cuts Alibaba Position, Sells Tesla Shares â\x80\x94 But Buys More Of This Chinese EV Maker These 18 tech stocks are this earnings season's standouts based on three criteria The red flag that preceded a halving of global equities in 2000 and 2007 is back, warns Citi American Axle (AXL) Q2 Earnings & Revenues Beat Estimates Westport (WPRT) Q2 Loss Narrower Than Expected, Revenues Up Tesla Stock Jumped 80% During The 2020 Share Split. What May Happen This Time, According To One Analyst Why Verona Pharma Is Trading Higher By Around 84%, Here Are 85 Stocks Moving In Tuesday's Mid-Day Session 'Clean energy' hiring in solar, wind and EVs expands in red and blue states. Enter your ZIP code to see where the jobs are. Move Over Tesla? This Electric Vehicle Company Thinks It Can Do Robotaxis Better Why Tesla, Nio, and Lucid All Sank Today"

In [29]:
df_sorted['Label'].value_counts()

1.0    887
0.0    859
Name: Label, dtype: int64

In [30]:
import re 
import string

In [31]:
def cleaning_text(text):
    text=text.lower() # converts text to lower case 
    text=re.sub('\[.*?\]', '', text) # deletes text which is present in between square brackets
    text = re.sub(r'[^\x00-\x7F]+', ' ', text) # only keeps the text between the ascii values 
    text = re.sub(r'\([^)]*\)', '', text) # deletes the text containing () these brackets
    text = re.sub(r'[^A-Za-z0-9\s]', '', text) # removes text which is not alphanumeric or whitespace
    text = text.strip()
    text = re.sub(r'\s+', ' ', text) # removes whitespace in the text
    return text

In [32]:
# Checking the difference in text
df_sorted['title'][256]

"Bill Gates says Elon Musk's approach to misinformation could make Twitter worse 'Massive Misallocation' Of Capital: Cathie Wood Joins Elon Musk To Find Fault With Passive Investment Bill Gates Says Shorting Tesla Not A Statement About Climate Change Why Nio, Other EV Peers Are Shooting Up In Hong Kong Today Bill Gates Takes Swipe At Elon Musk Over Twitter Acquisition: 'He Actually Could Make It Worse' Tesla Battery Supplier CATL's Stock Tumbles As Profit Falls 24% On High Raw Material Costs Can Apple Be The New Tesla - Smartphone On Wheels By 2025? Yuga Labs Refunds Failed Transactions After $150M Ethereum 'Wasted Fees' From NFT Sale How to Buy Tesla for the Cost of a Penny Stock Elon Musk's Starlink Now Lets You Take Your Internet Connection Anywhere Within US â\x80\x94 But It Comes At A Cost Russian Rocket Body Shatters Into 16 Pieces In Space Ford Mach-E EV Sales Nearly Double In April, Gas-Powered Mustang Struggles Twitter Faces Advertiser Skepticism At New York Event Ahead Of Elon Musk Takeover Twitter Offshoot Bluesky Releases Early Code For Decentralized Social Network Is It Time to Buy the Nasdaq's 3 Worst Performing April Stocks? Elon Musk suggested getting into the lithium business, and these surging stocks show why Elon Musk Bags Over $7B In Twitter Deal Financing Elon Musk says Larry Ellison, Binance, Sequoia will now help fund Twitter bid 'This Is What's Going To Happen Next': Ross Gerber Reveals Tesla's Next Big Move Should Tesla Shareholders Be Worried About Elon Musk's Twitter Purchase? Rivian Stock Is Starting to Look Attractive This trader predicted the bond meltdown, tech selloff and oil's surge. Here's what she says is coming next. CNH Industrial (CNHI) Q1 Earnings Top Estimates, Down Y/Y Why Tesla Stock Crashed Today The Timing of Tesla's Stock Split Could Be in Jeopardy Why Twitter Shares Rose 27% (but not 40%) Last Month Money Talks? The Link Between Congressional Stock Trading And Corporate Lobbying Rate hikes and stock sell-off? Here's what it means for your retirement portfolio, and whether you should add crypto into it Dow ends nearly 1,100 points lower and Nasdaq sheds 5%, marking its worst day in two years Another Elon Musk Biography Coming: Here's Which Company Is Behind It"

In [33]:
check=cleaning_text(df_sorted['title'][256])
check

'bill gates says elon musks approach to misinformation could make twitter worse massive misallocation of capital cathie wood joins elon musk to find fault with passive investment bill gates says shorting tesla not a statement about climate change why nio other ev peers are shooting up in hong kong today bill gates takes swipe at elon musk over twitter acquisition he actually could make it worse tesla battery supplier catls stock tumbles as profit falls 24 on high raw material costs can apple be the new tesla smartphone on wheels by 2025 yuga labs refunds failed transactions after 150m ethereum wasted fees from nft sale how to buy tesla for the cost of a penny stock elon musks starlink now lets you take your internet connection anywhere within us but it comes at a cost russian rocket body shatters into 16 pieces in space ford mache ev sales nearly double in april gaspowered mustang struggles twitter faces advertiser skepticism at new york event ahead of elon musk takeover twitter offshoot bluesky releases early code for decentralized social network is it time to buy the nasdaqs 3 worst performing april stocks elon musk suggested getting into the lithium business and these surging stocks show why elon musk bags over 7b in twitter deal financing elon musk says larry ellison binance sequoia will now help fund twitter bid this is whats going to happen next ross gerber reveals teslas next big move should tesla shareholders be worried about elon musks twitter purchase rivian stock is starting to look attractive this trader predicted the bond meltdown tech selloff and oils surge heres what she says is coming next cnh industrial q1 earnings top estimates down yy why tesla stock crashed today the timing of teslas stock split could be in jeopardy why twitter shares rose 27 last month money talks the link between congressional stock trading and corporate lobbying rate hikes and stock selloff heres what it means for your retirement portfolio and whether you should add crypto into it dow ends nearly 1100 points lower and nasdaq sheds 5 marking its worst day in two years another elon musk biography coming heres which company is behind it'

In [34]:
# apply the cleaning_text function to the title column of the df_sorted dataframe

In [35]:
df_sorted['clean_title']=df_sorted['title'].apply(lambda x : cleaning_text(x))

In [36]:
df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1746 non-null   object
 1   Open         1746 non-null   float64
 2   High         1746 non-null   float64
 3   Low          1746 non-null   float64
 4   Close        1746 non-null   float64
 5   Adj Close    1746 non-null   float64
 6   Volume       1746 non-null   float64
 7   title        1746 non-null   object
 8   Label        1746 non-null   float64
 9   Company      1746 non-null   float64
 10  clean_title  1746 non-null   object
dtypes: float64(8), object(3)
memory usage: 150.2+ KB

In [37]:
df_sorted[['title','clean_title']].iloc[0,:]

title          What A 'Strong' Apple 2022 Product Line Up Cou...
clean_title    what a strong apple 2022 product line up could...
Name: 0, dtype: object

In [38]:
df4=df_sorted.drop('title',axis=1)

In [39]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1746 non-null   object
 1   Open         1746 non-null   float64
 2   High         1746 non-null   float64
 3   Low          1746 non-null   float64
 4   Close        1746 non-null   float64
 5   Adj Close    1746 non-null   float64
 6   Volume       1746 non-null   float64
 7   Label        1746 non-null   float64
 8   Company      1746 non-null   float64
 9   clean_title  1746 non-null   object
dtypes: float64(8), object(2)
memory usage: 136.5+ KB

In [40]:
df4['clean_title']

0       what a strong apple 2022 product line up could...
1       lg energy solution starts taking orders for wh...
2       updating 2021 calls while suggesting strategic...
3       is 3 trillion just the beginning for apple app...
4       tesla opens showroom in xinjiang the chinese r...
                              ...
1741    this spectacular vanguard etf could turn 250 p...
1742    if you invested 10000 in amazon 10 years ago t...
1743    1 unstoppable stock that could join microsoft ...
1744    1 unstoppable stock that could join microsoft ...
1745    tesla investor touts ev giants billionsmile le...
Name: clean_title, Length: 1746, dtype: object

In [41]:
df4.reset_index()

,index,Date,Open,High,Low,Close,Adj Close,Volume,Label,Company,clean_title
0,0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900.0,1.0,1.0,what a strong apple 2022 product line up could...
1,1,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400.0,1.0,3.0,lg energy solution starts taking orders for wh...
2,2,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000.0,1.0,2.0,updating 2021 calls while suggesting strategic...
3,3,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400.0,0.0,1.0,is 3 trillion just the beginning for apple app...
4,4,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300.0,0.0,3.0,tesla opens showroom in xinjiang the chinese r...
...,...,...,...,...,...,...,...,...,...,...,...
1741,1741,2024-04-25,169.529999,170.610001,168.149994,169.889999,169.659882,50558300.0,1.0,1.0,this spectacular vanguard etf could turn 250 p...
1742,1742,2024-04-25,169.679993,173.919998,166.320007,173.669998,173.669998,49249400.0,0.0,2.0,if you invested 10000 in amazon 10 years ago t...
1743,1743,2024-04-26,177.800003,180.820007,176.130005,179.619995,179.619995,43919800.0,1.0,2.0,1 unstoppable stock that could join microsoft ...
1744,1744,2024-04-26,169.880005,171.339996,169.179993,169.300003,169.070679,44838400.0,0.0,1.0,1 unstoppable stock that could join microsoft ...
1745,1745,2024-04-26,168.850006,172.119995,166.369995,168.289993,168.289993,109815700.0,0.0,3.0,tesla investor touts ev giants billionsmile le...

In [42]:
df4['Label']=df4['Label'].astype(int)

In [43]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746 entries, 0 to 1745
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1746 non-null   object
 1   Open         1746 non-null   float64
 2   High         1746 non-null   float64
 3   Low          1746 non-null   float64
 4   Close        1746 non-null   float64
 5   Adj Close    1746 non-null   float64
 6   Volume       1746 non-null   float64
 7   Label        1746 non-null   int32
 8   Company      1746 non-null   float64
 9   clean_title  1746 non-null   object
dtypes: float64(7), int32(1), object(2)
memory usage: 129.7+ KB

In [44]:
# Removal of stopwords

In [45]:
# pip install nltk

In [46]:
import nltk
from nltk.corpus import stopwords

In [47]:
# # Download the stopwords
# nltk.download('stopwords')

In [48]:
# Get the stop words list
stop_words = set(stopwords.words('english'))

In [49]:
def remove_stopwords(text):
    words = text.split()
    cleaned_text = ' '.join(word for word in words if word.lower() not in stop_words)
    return cleaned_text

In [50]:
df4['clean_title']=df4['clean_title'].apply(remove_stopwords)

In [51]:
df4.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Label,Company,clean_title
0,2022-01-03,177.830002,182.880005,177.710007,182.009995,179.481140,104487900.0,1,1.0,strong apple 2022 product line could look like...
1,2022-01-03,382.583344,400.356659,378.679993,399.926666,399.926666,103931400.0,1,3.0,lg energy solution starts taking orders could ...
2,2022-01-03,167.550003,170.703506,166.160507,170.404495,170.404495,63520000.0,1,2.0,updating 2021 calls suggesting strategic posit...
3,2022-01-04,182.630005,182.940002,179.119995,179.699997,177.203217,99310400.0,0,1.0,3 trillion beginning apple apple car come prep...
4,2022-01-04,396.516663,402.666656,374.350006,383.196655,383.196655,100248300.0,0,3.0,tesla opens showroom xinjiang chinese region a...

## Applying Lemmatisation

In [52]:
from nltk.stem import WordNetLemmatizer

In [53]:
# nltk.download('wordnet')

In [54]:
lemmatizer= WordNetLemmatizer()

In [55]:
def lemmatize_text(text):
    tokens=text.split()
    text = ' '.join([lemmatizer.lemmatize(token) for token in tokens])
    return text

In [56]:
df4['clean_title']=df4['clean_title'].apply(lemmatize_text)

In [57]:
df4['clean_title']

0       strong apple 2022 product line could look like...
1       lg energy solution start taking order could so...
2       updating 2021 call suggesting strategic positi...
3       3 trillion beginning apple apple car come prep...
4       tesla open showroom xinjiang chinese region as...
                              ...
1741    spectacular vanguard etf could turn 250 per mo...
1742    invested 10000 amazon 10 year ago much would t...
1743    1 unstoppable stock could join microsoft apple...
1744    1 unstoppable stock could join microsoft apple...
1745    tesla investor tout ev giant billionsmile leap...
Name: clean_title, Length: 1746, dtype: object

## Creating Bag of Words for clean_text

In [58]:
from sklearn.feature_extraction.text import CountVectorizer

In [59]:
bow_vectorizer=CountVectorizer()
bow_matrix=bow_vectorizer.fit_transform(df4['clean_title'])

In [60]:
bow_matrix

<1746x14058 sparse matrix of type '<class 'numpy.int64'>'
	with 209409 stored elements in Compressed Sparse Row format>

In [61]:
bow_array=bow_matrix.toarray()

In [62]:
bow_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [63]:
from sklearn.decomposition import PCA

In [64]:
pca=PCA(n_components=0.9)

In [65]:
bow_array_pca=pca.fit_transform(bow_array)

In [66]:
pca.n_components_

622

## Creating Pretrained word2vec for clean_text

In [67]:
# slashing the below code to not make it run for subsequent runs of the notebook , and the word embedding are stored to pre_trained_word2vec.csv file in 
# which the values are stored of clean_title

In [68]:
# pip install gensim

In [430]:
import gensim.downloader as api
# import numpy as np 
# gensim.__version__

In [431]:
model = api.load("word2vec-google-news-300")

In [432]:
# this is a function to convert a text paragraph into vector
def document_to_vector(document,model):
    words=document.split()
    word_vectors = [model[word] for word in words if word in model]
    if not word_vectors:
        return np.zeros(model.vector_size)
    document_vector = np.mean(word_vectors,axis=0)
    return document_vector

In [434]:
pre_trained_word2vec = df4['clean_title'].apply(lambda x: document_to_vector(x,model))

In [436]:
pre_trained_word2vec

0       [0.00953895, 0.0009532198, -0.011498066, 0.083...
1       [-0.0003925652, 0.032543052, 0.020452728, 0.06...
2       [0.016471973, 0.0005563463, -0.024610301, 0.08...
3       [-0.015810648, 0.008278012, -0.009677172, 0.08...
4       [0.013206236, 0.034184013, 0.032716233, 0.0666...
                              ...
1741    [0.015834594, 0.030510034, 0.006982439, 0.0995...
1742    [0.011908263, 0.020769238, -0.031156182, 0.099...
1743    [0.012385833, 0.020524636, -0.014020858, 0.091...
1744    [0.008278037, 0.002114206, -0.003083715, 0.082...
1745    [0.021268114, 0.0144314235, 0.038091447, 0.066...
Name: clean_title, Length: 1746, dtype: object

In [74]:
pwd

'C:\\Users\\Jaya Teja\\Stock_Sentiment_Analysis_Using_Machine_Learning_Open_Project\\Finance_Project'

In [75]:
# pre_trained_word2vec.to_csv("pre_trained_word2vec.csv")

In [76]:
# saved the word embeddings of the clean title column to local storage for future use purpose

In [414]:
# pre_trained_word2vec= pd.read_csv(r"C:\Users\Jaya Teja\Stock_Sentiment_Analysis_Using_Machine_Learning_Open_Project\Finance_Project\pre_trained_word2vec.csv")

In [439]:
len(pre_trained_word2vec[0])

300

## Local Word2Vec for clean_title

In [79]:
from gensim.models import Word2Vec
import nltk
# nltk.download('punkt')

In [80]:
# Tokenize the text
tokenized_text = [nltk.word_tokenize(sentence) for sentence in df4['clean_title']]

# # Train the Word2Vec model
model = Word2Vec(tokenized_text, min_count=1, epochs=10)

In [81]:
def sentence_embedding(sentence):
    word_embeddings = [model.wv.get_vector(word) for word in nltk.word_tokenize(sentence) if word in model.wv.key_to_index]
    if word_embeddings:
        return np.mean(word_embeddings, axis=0)
    else:
        return [0] * model.vector_size

In [82]:
word2vec_matrix=np.array([sentence_embedding(text) for text in df4['clean_title']])

In [83]:
word2vec_matrix

array([[-0.10933033,  0.37824813,  0.1290839 , ..., -0.18848103,
         0.07990307,  0.13773538],
       [-0.1433161 ,  0.26609567,  0.04606202, ..., -0.35859227,
        -0.0511989 ,  0.06494962],
       [-0.15189329,  0.33444175,  0.12747173, ..., -0.13371132,
         0.05400471,  0.1299457 ],
       ...,
       [-0.3055962 ,  0.2624671 ,  0.28193277, ..., -0.24200682,
         0.04341796, -0.18101749],
       [-0.13257213,  0.36976716,  0.28989828, ..., -0.29754713,
         0.08052617, -0.08649667],
       [-0.18053323,  0.3639784 , -0.01836862, ..., -0.3386009 ,
        -0.02268   ,  0.09380392]], dtype=float32)

## Using Sentiment Intensity Analyser

In [84]:
# pip install vaderSentiment

In [85]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [86]:
analyzer= SentimentIntensityAnalyzer()

In [87]:
def analyze_sentiment(text):
    scores = analyzer.polarity_scores(text)
    return scores

In [88]:
sentiment_scores=pd.DataFrame()

In [89]:
sentiment_scores=df4['clean_title'].apply(lambda x: analyze_sentiment(x))

In [90]:
sentiment_scores[1]

{'neg': 0.055, 'neu': 0.813, 'pos': 0.132, 'compound': 0.99}

In [91]:
# So here neg indicates how much the sentence is negative from 0 to 1
# neu indicates how much the sentence is neutral from 0 to 1 
# pos indicates how much the sentence is positive from 0 to 1 
# compound indicates how much the overall sentence is from -1(extremely negative) to 
# 1(extremely positive)

# So we use compound to get the overall effect of the sentence

In [92]:
compound_sentiment=sentiment_scores.apply(lambda x: x['compound'])

In [93]:
sentiment_scores

0       {'neg': 0.022, 'neu': 0.781, 'pos': 0.197, 'co...
1       {'neg': 0.055, 'neu': 0.813, 'pos': 0.132, 'co...
2       {'neg': 0.048, 'neu': 0.698, 'pos': 0.254, 'co...
3       {'neg': 0.018, 'neu': 0.818, 'pos': 0.165, 'co...
4       {'neg': 0.056, 'neu': 0.784, 'pos': 0.16, 'com...
                              ...
1741    {'neg': 0.05, 'neu': 0.747, 'pos': 0.203, 'com...
1742    {'neg': 0.034, 'neu': 0.684, 'pos': 0.282, 'co...
1743    {'neg': 0.063, 'neu': 0.72, 'pos': 0.217, 'com...
1744    {'neg': 0.077, 'neu': 0.793, 'pos': 0.13, 'com...
1745    {'neg': 0.097, 'neu': 0.783, 'pos': 0.119, 'co...
Name: clean_title, Length: 1746, dtype: object

In [94]:
compound_sentiment

0       0.9941
1       0.9900
2       0.9904
3       0.9849
4       0.9821
         ...
1741    0.9468
1742    0.9897
1743    0.9762
1744    0.5733
1745    0.3103
Name: clean_title, Length: 1746, dtype: float64

## Using Tf-Idf on text

In [95]:
from sklearn.feature_extraction.text  import TfidfVectorizer

In [96]:
vectorizer= TfidfVectorizer()

In [97]:
tfidf_matrix= vectorizer.fit_transform(df4['clean_title'])

In [98]:
tfidf_df=pd.DataFrame(tfidf_matrix.toarray())

In [99]:
tfidf_df

,0,1,2,3,4,5,6,7,8,9,...,14048,14049,14050,14051,14052,14053,14054,14055,14056,14057
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
# tfidf_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,14048,14049,14050,14051,14052,14053,14054,14055,14056,14057
count,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,...,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000,1746.000000
mean,0.000368,0.000082,0.000146,0.000074,0.000100,0.000145,0.000080,0.000116,0.000065,0.000052,...,0.000176,0.001075,0.000083,0.002807,0.000636,0.000081,0.000093,0.000145,0.000072,0.000202
std,0.006916,0.003418,0.004426,0.003074,0.004159,0.004295,0.003323,0.004863,0.002716,0.002152,...,0.005204,0.011935,0.003468,0.015805,0.009128,0.003395,0.003872,0.004324,0.003023,0.005053
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.151755,0.142832,0.157591,0.128444,0.173802,0.140100,0.138865,0.203211,0.113468,0.089929,...,0.154152,0.224436,0.144915,0.164682,0.188649,0.141862,0.161777,0.143231,0.126335,0.152637

### Using PCA on Tf-Idf Vectorizer

In [101]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [102]:
scaler= StandardScaler()
tfidf_df_scaled= scaler.fit_transform(tfidf_df)

In [103]:
pca= PCA(n_components=0.95)

In [104]:
tfidf_pca=pca.fit_transform(tfidf_df_scaled)

In [105]:
pca.n_components_ # possibly a case of overfitting

1484

In [106]:
pca.explained_variance_ratio_ # gives each columns variance composition to the 0.85

array([0.00216597, 0.00182307, 0.00173944, ..., 0.00026013, 0.00025996,
       0.00025941])

## Models on Bag of Words

In [410]:
# Logistic Regression 
# SVM is overfitting with same accuracy as LR
# NB is not performing well 
# RF has low acc on test and around 0.94 acc for train , DT also behaves the same
# LSTM was more better than GRU 0.66 and 0.62

In [289]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [290]:
from sklearn.preprocessing import StandardScaler

In [291]:
scaler=StandardScaler()
# bow_array_pca_scaled=scaler.fit_transform(bow_array_pca)

In [292]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(bow_array_pca, df4['Label'], test_size=0.03, random_state=42)

In [293]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [441]:
len(y_train)

1693

In [444]:
51/1693

0.030124040165386886

In [449]:
test_size=int(0.030124040165386886*len(y_train))
test_size

51

In [295]:
len(bow_array_pca[0])

622

In [296]:
logreg = LogisticRegression(solver='liblinear',max_iter=30,penalty='l1')
logreg.fit(X_train, y_train)
# Changed max_iter to 200 , default 100 was not enough

LogisticRegression(max_iter=30, penalty='l1', solver='liblinear')

In [297]:
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score

In [298]:
y_pred = logreg.predict(X_test)

In [299]:
accuracy_score(y_test,y_pred)

0.6415094339622641

In [300]:
precision_score(y_test,y_pred)

0.7307692307692307

In [301]:
recall_score(y_test,y_pred)

0.6129032258064516

In [302]:
yyy=logreg.predict(X_train)

In [303]:
accuracy_score(y_train,yyy)

0.8765505020673361

In [334]:
# LSTM

In [342]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense , Input
from tensorflow.keras.optimizers import Adam

In [343]:
len(bow_array_pca)

1746

In [344]:
len(bow_array_pca[0])

622

In [351]:
len(X_train)

1693

In [352]:
len(X_train[0])

622

In [361]:
from tensorflow.keras.layers import Reshape

# Reshape the input data to include a dimension for timesteps
model = Sequential()
model.add(Input(shape=(622,)))  # Input shape: (622,)
model.add(Reshape((1, 622)))  # Reshape to (batch_size, timesteps, input_dim)
model.add(LSTM(100, return_sequences=True))
model.add(LSTM(50))
model.add(Dense(1, activation='sigmoid'))  # Assuming binary classification

# Compile the model
optimizer = Adam(learning_rate=0.001)
model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [362]:
model.fit(X_train, y_train, epochs=30, batch_size=8, validation_split=0.2)

Epoch 1/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 13s 19ms/step - accuracy: 0.5739 - loss: 0.6870 - val_accuracy: 0.5605 - val_loss: 0.6759
Epoch 2/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9447 - loss: 0.3632 - val_accuracy: 0.5870 - val_loss: 0.8529
Epoch 3/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9936 - loss: 0.0481 - val_accuracy: 0.6047 - val_loss: 1.0599
Epoch 4/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9991 - loss: 0.0117 - val_accuracy: 0.6136 - val_loss: 1.2167
Epoch 5/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 0.0036 - val_accuracy: 0.6077 - val_loss: 1.3231
Epoch 6/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 0.0021 - val_accuracy: 0.6077 - val_loss: 1.4074
Epoch 7/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 0.0013 - val_accuracy: 0.6018 - val_loss: 1.4767
Epoch 8/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 8.5994e-04 - val_accuracy: 0.6018 - val_loss: 1.5367
Epoch 9/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 6.4269e-04 - val_accuracy: 0.6018 - val_loss: 1.5897
Epoch 10/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 1.0000 - loss: 4.8084e-04 - val_accuracy: 0.6018 - val_loss: 1.6377
Epoch 11/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 1.0000 - loss: 3.8486e-04 - val_accuracy: 0.6018 - val_loss: 1.6811
Epoch 12/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 3.0406e-04 - val_accuracy: 0.6018 - val_loss: 1.7212
Epoch 13/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 2.2687e-04 - val_accuracy: 0.6018 - val_loss: 1.7582
Epoch 14/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 1.0000 - loss: 1.8982e-04 - val_accuracy: 0.6018 - val_loss: 1.7928
Epoch 15/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 1.5705e-04 - val_accuracy: 0.6018 - val_loss: 1.8258
Epoch 16/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 1.3281e-04 - val_accuracy: 0.6018 - val_loss: 1.8569
Epoch 17/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 1.0863e-04 - val_accuracy: 0.6018 - val_loss: 1.8866
Epoch 18/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 9.1079e-05 - val_accuracy: 0.6018 - val_loss: 1.9151
Epoch 19/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 7.7030e-05 - val_accuracy: 0.6018 - val_loss: 1.9426
Epoch 20/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 6.6353e-05 - val_accuracy: 0.6018 - val_loss: 1.9691
Epoch 21/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 5.7351e-05 - val_accuracy: 0.6018 - val_loss: 1.9949
Epoch 22/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 4.9212e-05 - val_accuracy: 0.6018 - val_loss: 2.0195
Epoch 23/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 4.2655e-05 - val_accuracy: 0.6018 - val_loss: 2.0434
Epoch 24/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 3.8911e-05 - val_accuracy: 0.6018 - val_loss: 2.0670
Epoch 25/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 3.4037e-05 - val_accuracy: 0.6018 - val_loss: 2.0898
Epoch 26/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 2.9970e-05 - val_accuracy: 0.6018 - val_loss: 2.1124
Epoch 27/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 2.6342e-05 - val_accuracy: 0.6018 - val_loss: 2.1343
Epoch 28/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 2.3488e-05 - val_accuracy: 0.6018 - val_loss: 2.1560
Epoch 29/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 2.0156e-05 - val_accuracy: 0.6018 - val_loss: 2.1773
Epoch 30/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 1.8417e-05 - val_accuracy: 0.6018 - val_loss: 2.1982

In [364]:
y_pred=model.predict(X_test)

2/2 ━━━━━━━━━━━━━━━━━━━━ 2s 921ms/step

In [367]:
threshold = 0.5
y_pred = (y_pred > threshold).astype(int)

In [368]:
y_pred

array([[0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [369]:
accuracy_score(y_test,y_pred)

0.660377358490566

In [370]:
precision_score(y_test,y_pred)

0.7407407407407407

In [371]:
recall_score(y_test,y_pred)

0.6451612903225806

In [375]:
yyy=model.predict(X_train)

53/53 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [378]:
threshold = 0.5
yyy = (yyy > threshold).astype(int)

In [379]:
accuracy_score(y_train,yyy)

0.9202598936798583

In [380]:
# GRU

In [381]:
from tensorflow.keras.layers import GRU, Dense

In [382]:
optimizer = Adam(learning_rate=0.001)
batch_size = 8
epochs = 30

In [386]:
len(X_train[0])

622

In [387]:

# Reshape training set: (1693, 622) -> (1693, 1, 622)
X_train_reshaped = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))

# Reshape test set: (53, 622) -> (53, 1, 622)
X_test_reshaped = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [389]:
model_gru_2hidden = Sequential()
model_gru_2hidden.add(Input(shape=(X_train_reshaped.shape[1], X_train_reshaped.shape[2])))
model_gru_2hidden.add(GRU(units=100, return_sequences=True))
model_gru_2hidden.add(GRU(units=50))
model_gru_2hidden.add(Dense(units=1, activation='sigmoid'))  # Assuming binary classification

# Compile the model
optimizer = Adam(learning_rate=0.001)
model_gru_2hidden.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

In [391]:
# Train the model

model_gru_2hidden.fit(X_train_reshaped, y_train, batch_size=batch_size, epochs=epochs, validation_split=0.2)

Epoch 1/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 12s 12ms/step - accuracy: 0.5241 - loss: 0.6920 - val_accuracy: 0.5782 - val_loss: 0.6793
Epoch 2/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.9225 - loss: 0.3259 - val_accuracy: 0.5782 - val_loss: 0.8856
Epoch 3/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.9790 - loss: 0.0735 - val_accuracy: 0.5546 - val_loss: 1.2678
Epoch 4/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.9978 - loss: 0.0199 - val_accuracy: 0.5428 - val_loss: 1.4333
Epoch 5/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 0.0042 - val_accuracy: 0.5516 - val_loss: 1.5655
Epoch 6/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 0.0022 - val_accuracy: 0.5487 - val_loss: 1.6597
Epoch 7/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 0.0015 - val_accuracy: 0.5457 - val_loss: 1.7364
Epoch 8/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 9.9373e-04 - val_accuracy: 0.5487 - val_loss: 1.8027
Epoch 9/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 8.0066e-04 - val_accuracy: 0.5457 - val_loss: 1.8606
Epoch 10/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 5.7944e-04 - val_accuracy: 0.5457 - val_loss: 1.9139
Epoch 11/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 4.6655e-04 - val_accuracy: 0.5457 - val_loss: 1.9622
Epoch 12/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 3.7723e-04 - val_accuracy: 0.5457 - val_loss: 2.0075
Epoch 13/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 3.0248e-04 - val_accuracy: 0.5457 - val_loss: 2.0495
Epoch 14/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 2.4529e-04 - val_accuracy: 0.5457 - val_loss: 2.0895
Epoch 15/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 2.2123e-04 - val_accuracy: 0.5457 - val_loss: 2.1270
Epoch 16/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 1.8413e-04 - val_accuracy: 0.5457 - val_loss: 2.1639
Epoch 17/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 1.5623e-04 - val_accuracy: 0.5457 - val_loss: 2.1980
Epoch 18/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 1.4035e-04 - val_accuracy: 0.5457 - val_loss: 2.2316
Epoch 19/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 1.1086e-04 - val_accuracy: 0.5457 - val_loss: 2.2637
Epoch 20/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 1.0600e-04 - val_accuracy: 0.5487 - val_loss: 2.2953
Epoch 21/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 8.8603e-05 - val_accuracy: 0.5487 - val_loss: 2.3254
Epoch 22/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 7.7381e-05 - val_accuracy: 0.5457 - val_loss: 2.3550
Epoch 23/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 7.3113e-05 - val_accuracy: 0.5457 - val_loss: 2.3840
Epoch 24/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 6.1922e-05 - val_accuracy: 0.5487 - val_loss: 2.4119
Epoch 25/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 1.0000 - loss: 5.8204e-05 - val_accuracy: 0.5487 - val_loss: 2.4400
Epoch 26/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 4.8044e-05 - val_accuracy: 0.5516 - val_loss: 2.4678
Epoch 27/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 4.2436e-05 - val_accuracy: 0.5516 - val_loss: 2.4949
Epoch 28/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 3.9266e-05 - val_accuracy: 0.5516 - val_loss: 2.5213
Epoch 29/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 3.3579e-05 - val_accuracy: 0.5516 - val_loss: 2.5475
Epoch 30/30
170/170 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 1.0000 - loss: 3.1721e-05 - val_accuracy: 0.5516 - val_loss: 2.5736

In [397]:
(X_test_reshaped)

array([[[-0.68895036, -0.50141333,  0.62202998, ..., -0.24939019,
          2.18719337, -0.64000015]],

       [[-0.7959755 , -1.35464462,  0.93601287, ...,  0.31223152,
         -0.0494811 ,  0.65466706]],

       [[-0.42786701,  0.42665605, -1.03897567, ..., -0.21142202,
          0.44802846,  1.91510096]],

       ...,

       [[ 1.08257111, -0.08339415,  0.01311781, ..., -1.09410791,
         -1.20797449,  1.09750188]],

       [[-0.4962533 ,  1.60072068, -0.52159033, ...,  0.84136823,
          0.13710855, -1.04829598]],

       [[-0.58021568,  0.10216808,  1.71006129, ...,  0.14955991,
         -1.86787461, -0.11684255]]])

In [399]:
y_pred=model_gru_2hidden.predict(X_test_reshaped)

2/2 ━━━━━━━━━━━━━━━━━━━━ 2s 822ms/step

In [401]:
threshold = 0.5
y_pred = (y_pred > threshold).astype(int)

In [402]:
y_pred

array([[1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0]])

In [403]:
accuracy_score(y_test,y_pred)

0.6226415094339622

In [404]:
precision_score(y_test,y_pred)

0.7037037037037037

In [405]:
recall_score(y_test,y_pred)

0.6129032258064516

In [406]:
yyy=model_gru_2hidden.predict(X_train_reshaped)

53/53 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

In [407]:
threshold = 0.5
yyy = (yyy > threshold).astype(int)

In [408]:
accuracy_score(y_train,yyy)

0.9102185469580626

## Model on pretrained Word2VEc

In [440]:
# LR

In [451]:
X_test=pre_trained_word2vec[-test_size:]
y_test=df4['Label'][-test_size:]

In [460]:
comb_train=pd.concat([pre_trained_word2vec[:-test_size],df4['Label'][:-test_size]],axis=1)
comb_train

                                            clean_title  Label
0     [0.00953895, 0.0009532198, -0.011498066, 0.083...      1
1     [-0.0003925652, 0.032543052, 0.020452728, 0.06...      1
2     [0.016471973, 0.0005563463, -0.024610301, 0.08...      1
3     [-0.015810648, 0.008278012, -0.009677172, 0.08...      0
4     [0.013206236, 0.034184013, 0.032716233, 0.0666...      0
...                                                 ...    ...
1690  [0.0035990665, -0.00943854, -0.0023566799, 0.1...      0
1691  [0.0057910015, -0.010157753, -0.0030250696, 0....      0
1692  [0.015489157, 0.02618864, 0.03529774, 0.063434...      1
1693  [0.019545667, 0.03352487, -0.011951564, 0.0652...      1
1694  [0.00814924, 0.027002072, 0.008467132, 0.11422...      1

[1695 rows x 2 columns]

In [462]:
shuffled_df = comb_train.sample(frac=1, random_state=42)

In [463]:
shuffled_df

                                            clean_title  Label
931   [0.01759564, 0.042590994, 0.0029557352, 0.0623...      1
1398  [0.037093285, 0.028283658, -0.008905867, 0.073...      0
1561  [0.014046447, 0.024543878, -0.016828403, 0.064...      0
1006  [0.028023219, 0.016265105, -0.029059255, 0.081...      1
506   [0.025667364, 0.0026389034, -0.040504977, 0.09...      0
...                                                 ...    ...
1130  [0.024268547, 0.0015622256, -0.007930263, 0.08...      1
1294  [0.029942995, 0.010589203, 0.0030866351, 0.084...      0
860   [-0.0085476255, 0.018998034, -0.002109948, 0.0...      1
1459  [0.0042967224, -0.0075990804, -0.0132278185, 0...      1
1126  [-0.0021136715, 0.012242269, -0.007951846, 0.0...      0

[1695 rows x 2 columns]

In [464]:
X_train=shuffled_df['clean_title']
y_train=shuffled_df['Label']

In [457]:
len(X_test)

51

In [455]:
(y_test)

1695    1
1696    0
1697    0
1698    1
1699    1
1700    0
1701    0
1702    1
1703    1
1704    1
1705    1
1706    1
1707    0
1708    0
1709    1
1710    1
1711    1
1712    1
1713    1
1714    0
1715    0
1716    0
1717    0
1718    0
1719    0
1720    0
1721    0
1722    0
1723    0
1724    0
1725    0
1726    0
1727    0
1728    0
1729    0
1730    0
1731    1
1732    1
1733    0
1734    1
1735    1
1736    1
1737    0
1738    1
1739    1
1740    1
1741    1
1742    0
1743    1
1744    0
1745    0
Name: Label, dtype: int32